#root {
  max-width: 1460px;
  // margin: 2rem;
  font-family: "Oswald", sans-serif;

  // text-align: center;
}



.container {
  display: flex;
  padding: 4rem;
  column-gap: 2rem;
  .aside {
    background-color: #F4F4F4;
    width: 400px;
    height: 100%;
    border-radius: 50px;
    padding: 2rem;
    h2 {
      margin-bottom: 3rem;
    }
    h3 {
      font-size: 1.5rem;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }
    nav {
        flex-direction: column;
        justify-content: space-between;
        ul {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            list-style: none;
            margin-bottom: 4rem;
            .link {
              padding: 0.3em 2em;
            }
            .linked {
              font-family: "Noto Sans", sans-serif;
              cursor: pointer;
              font-size: 1.3rem;
              padding: 0.3em 2em;
            }
        }
        .flexBtn {
          display: flex;
          border: none;
          font-size: 2rem;
          column-gap: 1.8rem;
          margin-block: 1rem;
          cursor: pointer;
          h4 {
            font-weight: 400;

          }
        }
    }
  }
  .menu {
    display: flex;
    column-gap: 16rem;
    align-items: center;
  }
}

h2 {
  font-size: 3.6rem;
}


.main {
  // padding: 1rem;
  background-color: #F4F4F4;
  width: 100%;
  max-height: 100%;
  border-radius: 50px;
  padding: 2rem;
  p {
    font-weight: 400px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 6rem;
  }

}


.Btn {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
}

.Btn:active {
  color: rgb(30, 149, 30);
}

.today {

  h2 {
    font-weight: 400;
    font-size: 3.6rem;
  }
  .mainBox {
    padding: 1rem;
    background-color: inherit;
    border: 2px solid #BFBFBF;
    width: 70vw;
    height: 83vh;
    border-radius: 50px;
    padding: 2rem 4rem;
    .texter {
      padding: 0em 1em;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      max-width: 100%;
      border: 2px solid #BFBFBF;
      border-radius: 1.2rem;
      input {
        border: none;
        width: 100%;
        font-size: 1.6rem;
      }
      input:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    display: block;
  }
  aside {
    width: 250px;
  }
}


.hidden {
  display: none;
}

.addedTasksBox {
  margin-top: 2rem;
  
  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .addedTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Noto Sans", sans-serif;
    background-color: #F4F4F4;
    padding: 0.4em 2em;
    border-radius: 1rem;
    margin-bottom: 1rem;
    input {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
}


.doneTasksBox {
  margin-top: 2rem;
  row-gap: 2rem;
  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .doneTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(60, 200, 0);
    text-decoration: line-through;
    font-size: 1.8rem;
    font-family: "Noto Sans", sans-serif;
    background-color: #F4F4F4;
    padding: 0.4em 2em;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
}

.flex {
  display: flex;
  gap: 3rem;
  .mainBoxes {
    width: 100%;
    max-height: 36vh;
  }
}

.mainBoxes {
  padding: 1rem;
    background-color: inherit;
    border: 2px solid #BFBFBF;
    max-width: 90rem;
    height: 42vh;
    border-radius: 50px;
    padding: 2rem 4rem;
    margin-bottom: 3rem;
    .texter {
      padding: 0em 1em;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      max-width: 100%;
      border: 2px solid #BFBFBF;
      border-radius: 1.2rem;
    }
    input[type = "text"] {
      border: none;
      width: 100%;
      font-size: 1.6rem;
    }
    input:focus {
      outline: none;
    }
    
}

.todayBox {
  width: 898px;
  h2 {
    margin-bottom: 2rem;
  }
}